@import "@styles/scss/partials/mixins";
@import "@styles/scss/partials/variables";

.root {
    padding: 150px var(--spacing-xxx-large);
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-left: var(--menu-width);
    max-width: 1400px;
    margin: 0 auto;
}

@include down(1024px) {
    .root {
        padding-top: 70px;
        padding-bottom: 70px;
        gap: 70px;
    }
}

@include xs {
    .root {
        padding: 100px var(--spacing-x-large);
    }
}
