@import "@styles/scss/partials/mixins";
@import "@styles/scss/partials/variables";

.root {
    display: flex;
    flex-direction: row;
    gap: var(--spacing-xxx-large);
    align-items: flex-start;
    justify-content: center;
    padding: 150px var(--spacing-xxx-large) 100px;
    max-width: 1400px;
    margin: 0 auto;

    &__description {
        color: var(--gray-200);
        font-size: 20px;
        line-height: 28px;
        max-width: 620px;
        text-align: justify;
        flex: 1;
    }

    &__image {
        display: flex;
        flex-direction: column;
        gap: var(--spacing-xx-large);
        flex: 1;

        img {
            width: 100%;
            height: auto;
        }

        h2 {
            font-size: 50px;
            color: white;
            font-weight: 400;
            text-transform: uppercase;
        }
    }
}

@include down(1500px) {
    .root {
        flex-direction: column;
        align-items: center;

        &__description {
            flex: 0 0 100%;
            max-width: 800px;
            order: 2;
        }

        &__image {
            flex: 0 0 100%;
            width: 100%;
            max-width: 800px;
        }
    }
}

@include down(1400px) {
    .root {
        padding: 100px var(--spacing-xxx-large) 0;

        &__description {
            font-size: 18px;
        }

        &__image {
            h2 {
                font-size: 40px;
            }
        }
    }
}

@include down(1024px) {
    .root {
        &__description {
            max-width: 600px;
            font-size: 14px;
            line-height: 20px;
        }

        &__image {
            max-width: 600px;

            h2 {
                font-size: 30px;
            }
        }
    }
}

@include xs {
    .root {
        padding: 100px var(--spacing-x-large);
    }
}

@include down(500px) {
    .root {
        &__image {
            h2 {
                font-size: 24px;
                line-height: 30px;
            }
        }
    }
}
